@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Reading Logger</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Reading Logger</h2>
        <p>
            Reading Logger is an application that will allow students to log their reading time.  Teachers can quickly and easily see what their students are reading, and confirm that they are completing their reading assignments
        </p>
    </div>
    <div class="col-md-4">
        <h2>Students, Log your reading time</h2>
        <p>Enter the minutes and pages read each day, so that your teacher can see that you are completing assigned reading</p>
        <p>
            <a class="btn btn-default"
               href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                See the tutorial &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Teachers</h2>
        <p>You can track all the reading that your students are doing in real time</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>